[scripts]
devserver = "python service.py"
tests = "scripts/run_tests_with_coverage.sh"
vulture = "vulture service.py service/ --sort-by-size"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
trueskill = "*"
sqlalchemy = "*"
aiomysql = "*"
aio_pika = "*"
aiocron = "*"
prometheus_client = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
asynctest = "*"
python-coveralls = "*"
mock = "*"
pytest-mock = "*"
vulture = "*"
v = {version = "*",editable = true}

[requires]
python_version = "3.7"
